html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}



/*------------ INDEX ------------*/

.indexcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nocircleli li {
  list-style-type: none;
}

/*------------ NAVBAR ------------*/

.dropdown-item:hover {
  background-color: #4EBD8C !important;
}

/*------------ FOOTER ------------*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  height: 70px;
  bottom: 0;
  margin-top: auto ;
}

/*------------ FORMULAIRE D'AUTHENTIFICATION ------------*/

.titleauthpage {
  text-align: center;
  margin: 20px 0;
}

.btn.btn-outline-success.authform {
  margin: 15px 0;
}

@keyframes click-wave {
  0% {
    height: 25px;
    width: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
  }
}

.form-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 410px;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: #4EBD8C;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.3rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.form-check-input:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 25px;
  bottom: 3px;
}

.form-check-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #4EBD8C;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.form-check-label {
  margin-top: 3px;
}

.formlink {
  color: #f39c12;
}

.formlink:hover  {
  color: #f39c12;
}

.formlink:visited {
  color: #f39c12;
}

.separateformlink {
  margin-top: 5px;
}


/*------------ BANNIERES ------------*/

.jumbotron.jumbotron-fluid.text-center {
  background-image: url(./images/banner_event.jpg);
  background-size: cover;
  height: 300px;
}

.jumbotron.jumbotron-fluid.text-center.big-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/4k.jpeg);
  background-size: cover;
  height: 500px;
}

.jumbotron.jumbotron-fluid.text-center.big-banner p {
  font-size: 16px;
}


/*------------ CARTES ------------*/

.citycontainer {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.citycontainer:hover {
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list-group-item.list-group-item-action.flex-column.align-items-start.card-user {
  max-width: 85%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.list-group-item.list-group-item-action.flex-column.align-items-start.cards-users {
  max-width: 85%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.list-group-item.list-group-item-action.flex-column.align-items-start.cards-users:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*------------ COMMENTAIRES ------------*/

.commentcontainer.container {
  background-color: #303030;
  padding: 10px;
  max-width: 85%;
  margin: auto;
}

.avatarcontainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.paragraphdiv {
  position: absolute;
  bottom: -15px;
  left: 65px;
}

.commentp {
  margin-bottom: 0;
  margin-top: 3px;
}

.comment.list-group {
  max-width: 85%;
  margin: auto;
  margin-bottom: 15px;
}

.display-5 {
  margin-bottom: 25px;
  text-align: center;
}

.commentcontainer.jumbotron {
  padding: 2rem 1rem;
}

.commenttextarea.form-group {
  max-width: 85%;
  margin: auto;
}

.btn.btn-outline-success.btn-lg.btn-block {
  margin: 20px 7.555555555%;
  max-width: 85%;
}

.commentavatarpicture {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/*------------ PRESENTATION RESSOURCE ------------*/

.col.col-lg-8.col-md-8.col-sm-12.imagecontainer {
  padding: 0;
}
.col.col-lg-8.col-md-8.col-sm-12.imagecontainer img {
  max-width: 100%;
  max-height: auto;
} 

.col-lg-4.col-md-4.col-sm-12.rightside {
  padding: 20px;
}

#atbottom {
  margin-top: 70px;
}

.row.top{
  background-color: #303030;
}
.btn.btn-outline-success.btn-sm.follow {
  margin-left: 15px;
}


.row.middle {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #303030;
  border-top: 1px solid #303030;
}

.col.col-lg-8.col-md-8.col-sm-12.iconscontainer i {
  margin-left: 15px;
}

.row.bottom {
  margin-top: 40px;
}

.iconsdiv {
  margin-top: 40px;
}

.socialicon {
  margin-right:7px;
}

.infoscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  margin-top: 15px;
}


/*------------ PRESENTATION ELEMENT ------------*/

.herosection {
  background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(124,105,199,1) 49%, rgba(176,106,179,1) 92%);
  height: 65vh;
}

.view {
  display: flex;
  flex-direction: row;
  height: 65vh;
}

.col-lg-5.col-xl-6.text-center.text-lg-left{
  left: 50px;
  top: 50px;
}

.d-block.ondegradient {
  margin-top:15px;
}

.fas.fa-user.left {
  margin-right: 5px;
}

.fas.fa-angle-right {
  margin-left: 5px;
}

.col-lg-7.col-xl-6.text-center.text-lg-right{
  background-image: url(./images/iphone.png);
  background-repeat: no-repeat;
  background-size: 45vh 60vh;
  left: 130px;
}

.alert-content {
  margin-left: 5px;
}

/*------------ ORGA AU CHOIX ------------*/


